<a href="https://colab.research.google.com/github/Anastasia8BlackCat/retail_demand_analysis_TravelTide/blob/main/TravelTide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import sqlalchemy as sa
import psycopg2  as pc

In [4]:
!pip install psycopg2-binary sqlalchemy pandas

import pandas as pd
from sqlalchemy import create_engine, inspect

url = "postgresql+psycopg2://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"
engine = create_engine(url)

insp = inspect(engine)
tables = insp.get_table_names()

schema = []
for table in tables:
    cols = insp.get_columns(table)
    for c in cols:
        schema.append({"table": table, "column": c['name'], "type": c['type'], "nullable": c['nullable']})

df = pd.DataFrame(schema)
df

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.10)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

       table                   column       type  nullable
0     hotels                  trip_id       TEXT     False
1     hotels               hotel_name       TEXT      True
2     hotels                   nights    INTEGER      True
3     hotels                    rooms    INTEGER      True
4     hotels            check_in_time  TIMESTAMP      True
5     hotels           check_out_time  TIMESTAMP      True
6     hotels       hotel_per_room_usd    NUMERIC      True
7      users                  user_id    INTEGER     False
8      users                birthdate       DATE      True
9      users                   gender       TEXT      True
10     users                  married    BOOLEAN      True
11     users             has_children    BOOLEAN      True
12     users             home_country       TEXT      True
13     users                home_city       TEXT      True
14     users             home_airport       TEXT      True
15     users         home_airport_lat    NUMERIC      True
16     users         home_airport_lon    NUMERIC      True
17     users             sign_up_date       DATE      True
18   flights                  trip_id       TEXT     False
19   flights           origin_airport       TEXT      True
20   flights              destination       TEXT      True
21   flights      destination_airport       TEXT      True
22   flights                    seats    INTEGER      True
23   flights     return_flight_booked    BOOLEAN      True
24   flights           departure_time  TIMESTAMP      True
25   flights              return_time  TIMESTAMP      True
26   flights             checked_bags    INTEGER      True
27   flights             trip_airline       TEXT      True
28   flights  destination_airport_lat    NUMERIC      True
29   flights  destination_airport_lon    NUMERIC      True
30   flights            base_fare_usd    NUMERIC      True
31  sessions               session_id       TEXT     False
32  sessions                  user_id    INTEGER      True
33  sessions                  trip_id       TEXT      True
34  sessions            session_start  TIMESTAMP      True
35  sessions              session_end  TIMESTAMP      True
36  sessions          flight_discount    BOOLEAN      True
37  sessions           hotel_discount    BOOLEAN      True
38  sessions   flight_discount_amount    NUMERIC      True
39  sessions    hotel_discount_amount    NUMERIC      True
40  sessions            flight_booked    BOOLEAN      True
41  sessions             hotel_booked    BOOLEAN      True
42  sessions              page_clicks    INTEGER      True
43  sessions             cancellation    BOOLEAN      True

In [5]:
import pandas as pd
import sqlalchemy as sa

# checking hotels tables
query = """
SELECT *
FROM hotels p;
"""
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
pd.read_sql(sa.text(query),connection)

,trip_id,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
0,163303-8531be4b43774121ab558b8a0381442a,Banyan Tree - phoenix,1,2,2022-07-19 12:04:16.500,2022-07-21 11:00:00,129.0
1,163418-9cc5122d5f0744cdbd67add25b6e6203,Accor - vancouver,4,3,2022-07-16 18:19:02.910,2022-07-21 11:00:00,223.0
2,163516-1e5e3cfd1b1445e7a2b55e272669d307,Accor - chicago,3,1,2022-07-15 11:00:00.000,2022-07-18 11:00:00,143.0
3,163544-76088eef395b4f8889cb7293fb9ace95,Fairmont - san diego,2,1,2022-07-17 19:09:13.905,2022-07-20 11:00:00,154.0
4,163637-9e0fbc546f6f4461bd78cccf6f7a9493,Wyndham - new york,1,1,2022-07-21 17:09:06.435,2022-07-23 11:00:00,104.0
...,...,...,...,...,...,...,...
1918612,162928-d3d447c5df9042ffa36814afec1c474f,Marriott - oklahoma city,1,1,2022-07-16 11:17:08.925,2022-07-17 11:00:00,203.0
1918613,163028-3edfe99d055b45459e6f2392f1b62e8a,Aman Resorts - new york,1,1,2022-07-18 14:19:20.055,2022-07-20 11:00:00,75.0
1918614,163117-aede7ae966a3427c89f49a83bb0ef13e,Banyan Tree - san francisco,10,2,2022-07-15 15:10:34.770,2022-07-26 11:00:00,172.0
1918615,163201-24359b2f09434383ae1e563595d40dd7,Best Western - san antonio,1,1,2022-07-17 10:22:38.370,2022-07-18 11:00:00,92.0
1918616,163231-28a466a5181d488c947286b82dffe1ea,Crowne Plaza - san francisco,10,1,2022-07-17 12:42:18.135,2022-07-28 11:00:00,179.0

In [6]:
import pandas as pd
import sqlalchemy as sa

# checking users tables
query = """
SELECT *
FROM users p;
"""
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
pd.read_sql(sa.text(query),connection)

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,0,1990-01-22,F,False,False,usa,minneapolis,MSP,44.880,-93.217,2021-04-01
1,1,2000-11-08,M,False,False,usa,colorado springs,COS,38.806,-104.700,2021-04-01
2,2,1992-09-21,M,False,False,usa,portland,PDX,45.589,-122.597,2021-04-01
3,3,1996-11-27,F,False,False,usa,houston,IAH,29.980,-95.340,2021-04-01
4,4,1978-01-05,M,True,True,usa,honolulu,HNL,21.316,-157.927,2021-04-01
...,...,...,...,...,...,...,...,...,...,...,...
1020921,1020921,2005-05-22,M,False,True,usa,shreveport,BAD,32.502,-93.663,2023-07-20
1020922,1020922,1985-06-15,M,True,False,usa,oklahoma city,TIK,35.415,-97.386,2023-07-20
1020923,1020923,1995-09-21,F,False,False,canada,toronto,YKZ,43.862,-79.370,2023-07-20
1020924,1020924,2006-11-19,F,False,False,usa,lincoln,LNK,40.851,-96.759,2023-07-20
1020925,1020925,1978-04-27,M,False,True,usa,memphis,MEM,35.042,-89.977,2023-07-20

In [7]:
import pandas as pd
import sqlalchemy as sa

# checking flights tables
query = """
SELECT *
FROM flights p;
"""
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
pd.read_sql(sa.text(query),connection)

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,599348-f5cc943324bd4adfa1bfbd28b160505a,RND,houston,HOU,1,True,2023-04-01 09:00:00,2023-04-04 09:00:00,1,Southwest Airlines,29.607,-95.159,49.79
1,599351-25965d485e5d4173a1c9f867571b5e58,FAT,baltimore,BWI,1,True,2023-04-03 13:00:00,2023-04-10 13:00:00,1,Southwest Airlines,39.175,-76.668,666.18
2,599406-0fe6d8d9883147aa932a6f42c159dae0,EFD,los angeles,LAX,1,True,2023-03-30 11:00:00,2023-03-31 11:00:00,2,American Airlines,33.942,-118.408,445.60
3,599409-6d0ee228195f4f2dbb5ede133b2ebeea,RND,toronto,YTZ,1,True,2023-04-03 09:00:00,2023-04-04 09:00:00,0,Porter Airlines,43.862,-79.370,407.55
4,599426-b176e4ddccbe4667ac571f7fb886b7bb,STL,fort worth,FTW,1,False,2023-03-31 08:00:00,NaT,0,Delta Air Lines,32.820,-97.362,80.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901033,599103-a29ab5cb5a0a4c2c9caaef37ae5985da,ANC,winnipeg,YAV,1,True,2023-04-01 14:00:00,2023-04-04 14:00:00,1,Delta Air Lines,50.056,-97.032,642.75
1901034,599198-62e70e0405e0448fa5c985ac3c373d99,YYC,new york,LGA,1,False,2023-04-04 16:00:00,NaT,0,Allegiant Air,40.640,-73.779,238.04
1901035,599256-a2b623b31fd945c8a2bd818dd6b9ee2b,SFO,new york,JFK,1,True,2023-03-29 09:00:00,2023-04-04 09:00:00,1,JetBlue Airways,40.640,-73.779,801.32
1901036,599261-0d611e162bd34614b5648c0a12f134ec,TUS,san antonio,SKF,1,False,2023-04-04 12:00:00,NaT,0,United Airlines,29.529,-98.279,107.53
1901037,599273-3edf03ca7bfc4d4f8ec621d8967eb60a,IAB,new york,JFK,1,True,2023-03-31 11:00:00,2023-04-05 11:00:00,0,Alitalia,40.640,-73.779,368.91

In [8]:
import pandas as pd
import sqlalchemy as sa

# checking sessions tables
query = """
SELECT *
FROM sessions p;
"""
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
pd.read_sql(sa.text(query),connection)

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation
0,208098-563e2e5011bc496180254f5d248db6c7,208098,208098-caf5e8ea90c642efaf56fd8949716a2b,2023-01-01 19:43:00,2023-01-01 19:45:52,False,False,NaN,NaN,True,True,23,False
1,208143-a413f6c8ef174896bda584a3d5716a68,208143,None,2023-01-01 21:11:00,2023-01-01 21:11:29,False,False,NaN,NaN,False,False,4,False
2,208206-20b27451608a42f4883cd21cb84ba73c,208206,None,2023-01-01 20:31:00,2023-01-01 20:31:59,False,False,NaN,NaN,False,False,8,False
3,208238-84b19ad028d34930b17884ffd93438d7,208238,208238-eee82046e9774618bf6ecd0dc5ca7451,2023-01-01 18:44:00,2023-01-01 18:46:55,False,False,NaN,NaN,True,True,24,False
4,208274-b9eb914cce1d4017ab75c7e9416b9437,208274,None,2023-01-01 03:55:00,2023-01-01 04:00:51,False,False,NaN,NaN,False,False,49,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5408058,207964-96baa2eef9d045aba44b8f0efee6731b,207964,207964-3cd9ed1c711d4079aa5ec5ce052416b6,2023-01-01 17:30:00,2023-01-01 17:31:47,False,False,NaN,NaN,True,False,14,False
5408059,207977-092454b0851a49bc9c29a2cf2403ce88,207977,207977-925f2c291b6b466989dc6ae8b677aa85,2023-01-01 22:02:00,2023-01-01 22:05:10,False,False,NaN,NaN,False,True,25,False
5408060,208005-a302593175f249f19a2ff8d3bcd940e9,208005,None,2023-01-01 17:16:00,2023-01-01 17:16:22,True,True,0.1,0.1,False,False,3,False
5408061,208020-e08468eb46be48b58a0aeb697e9e2d3d,208020,208020-ea90ab5bb5f24da58eb538d4ba17040b,2023-01-01 02:19:00,2023-01-01 02:20:15,False,True,NaN,0.1,True,False,10,False
5408062,208041-ee5db96114194b5fb0d22dfe6a78ee31,208041,None,2023-01-01 12:11:00,2023-01-01 12:13:10,False,False,NaN,NaN,False,False,17,False

In [ ]:
# N1 How many customers do we have in the data?
--query = """
--SELECT
--			COUNT(DISTINCT customer_id)
--FROM customers;
--"""
--pd.read_sql(sa.text(query),connection)